.header__logo {
    font-family: var(--text-font-second);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-blue);
}

/* .header__list a {
  display: inline-block;
} */

.logo__text--right {
    color: var(--first-text);
    margin-right: 93px;
}